body { 
    padding-top:50px; 
    background-color: #002544;
}

.jumbotron    {  
    background: #002544;
    margin-bottom: 0;
}

.first-jumbo {
  height: 100%;
  padding: 0;
  background-color: #002544;
}

h1 {
  font-family: 'Akura', sans-serif;
  color: #ECF6FF;
  font-size: 80px;
  text-align: center;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  color: #ECF6FF;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
  vertical-align: text-top;
  margin-top: 25%;
  margin-bottom: 10px;
}

p {
  font-family: 'Open Sans';
  font-weight: 300;
}

.navbar-brand {
  padding-top: 5px;
}

.navbar-inverse {
  background-color: #333;
}


@font-face {
    font-family: "Akura";
    src: url("/fonts/AkuraPopo.otf") format("opentype");
}

