body { 
    padding-top:50px; 
    background-color: #002544;
}

@font-face {
    font-family: "Akura";
    src: url("/fonts/AkuraPopo.otf") format("opentype");
}

h1 {
  font-family: 'Akura', sans-serif;
  color: #ECF6FF !important;
  font-size: 150px !important;
  text-align: center;
  vertical-align: text-top;
  margin-top: 20%;
  margin-bottom: -20px;
  padding-bottom: 0;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  color: #ECF6FF;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  vertical-align: text-top;
  padding-top: 0;
  margin-top: 0;
}

p {
  font-family: 'Open Sans';
  font-weight: 300;
}

.jumbotron    {  
    background: #002544;
    margin-bottom: 0;
}

.first-jumbo {
  height: 100%;
  padding: 0;
  background-color: #002544;
}

.profile img {
  height: 500px !important;
  position: fixed;
  left: 5%;
  bottom:0;
}

